.post-container h4,p{
    color: #000;
    padding: 10px;
    margin: 0 !important;
}

.post-container p{
    padding-bottom: 10px;
}

.post-container{
   border-bottom: 1px solid white;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 12px;
}
.user-heading{
    font-weight: bold;
}

.post-heading{
    margin-top: 4vh;
    margin-bottom: 3vh;
 
  
}
.post-heading h2{
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid crimson;
}
.like-icons-row a{
    color: crimson;
    padding-left: 10px;
    font-size: 20px;
}

.like-icons-row a:hover{
    color: #1c2237;
}

.like-row a {
    padding-right:10px ;
}