.team-container{
    background-color: white;
    padding: 100px 20px;
}

/* #root > div > div.team-container.container-fluid > div > div.ml-auto.col-md-6 > div > div > p{
    color: black;
}

#root > div > div.team-container.container-fluid > div > div.ml-auto.col-md-6 > div{
    border:none;
}
#root > div > div.team-container.container-fluid > div > div.ml-auto.col-md-6 > div > div{
    border: 1px solid grey;
    margin-top: 10px;
    border-radius: 20px;
} */

.card-main{
    border: none;
    text-align: center;
}

.card-column{
    display: flex;
    justify-content: space-around;
}
.card-image{
    border: none;
    height: 250px;
    width: 250px;
    border-radius: 50%;

   
}

.card-image img{
    padding-left:20px;
}


.card-text pre, p{
    color:black;
}
.text-center{
    display: flex !important;
    justify-content: space-between !important;
}

div.social-links svg{
    color: crimson;
}